{{define "content"}} {{if .Cards}}
<div class="root__container">
	{{range .Cards}}
	<div class="root__card">
		<div class="root__img"></div>

		<div class="root__card-content">
			<h2 class="root__title">{{.Title}}</h2>
			<p class="root__text">{{.Content}}</p>
			<div class="root__card-content-bottom">
				<span class="root__author">{{.Author}}</span>
				<span class="root__created-at">{{.CreatedAtStr}}</span>
			</div>
		</div>
	</div>
	{{end}}
</div>
{{else}}
<div class="root__no-cards">
	<h1>Ошибка получения!</h1>
	<span>Попробуйте обновить сайт или зайти позже.</span>
</div>
{{end}}{{end}}
