{{define "content"}}
<div class="root__container">
	<div class="root__card">
		<div class="root__img"></div>

		<div class="root__card-content">
			<h2 class="root__title">Далеко-далеко, за словесными.</h2>
			<p class="root__text">
				Далеко-далеко за словесными горами в стране гласных и согласных живут
				рыбные тексты.
			</p>
			<span class="root__author">Иван</span>
		</div>
	</div>

	<div class="root__card">
		<div class="root__img"></div>

		<div class="root__card-content">
			<h2 class="root__title">Далеко-далеко, за словесными.</h2>
			<p class="root__text">
				Далеко-далеко за словесными горами в стране гласных и согласных живут
				рыбные тексты.
			</p>
			<span class="root__author">Иван</span>
		</div>
	</div>

	<div class="root__card">
		<div class="root__img"></div>

		<div class="root__card-content">
			<h2 class="root__title">Далеко-далеко, за словесными.</h2>
			<p class="root__text">
				Далеко-далеко за словесными горами в стране гласных и согласных живут
				рыбные тексты.
			</p>
			<span class="root__author">Иван</span>
		</div>
	</div>

	<div class="root__card">
		<div class="root__img"></div>

		<div class="root__card-content">
			<h2 class="root__title">Далеко-далеко, за словесными.</h2>
			<p class="root__text">
				Далеко-далеко за словесными горами в стране гласных и согласных живут
				рыбные тексты.
			</p>
			<span class="root__author">Иван</span>
		</div>
	</div>

	<div class="root__card">
		<div class="root__img"></div>

		<div class="root__card-content">
			<h2 class="root__title">Далеко-далеко, за словесными.</h2>
			<p class="root__text">
				Далеко-далеко за словесными горами в стране гласных и согласных живут
				рыбные тексты.
			</p>
			<span class="root__author">Иван</span>
		</div>
	</div>

	<div class="root__card">
		<div class="root__img"></div>

		<div class="root__card-content">
			<h2 class="root__title">Далеко-далеко, за словесными.</h2>
			<p class="root__text">
				Далеко-далеко за словесными горами в стране гласных и согласных живут
				рыбные тексты.
			</p>
			<span class="root__author">Иван</span>
		</div>
	</div>
</div>
{{end}}
